* {
  margin: 0;
  padding: 0;
}
$white: #eff8fd;
$black: #1b1e21;
$light-grey: #eff2f5;
$success:#00c09f;
$secondary:#0DD9B7;
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $light-grey;
  color: $black;
  font-family: "Noto Sans JP", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.3em;
}
p{
  margin-bottom: 1.5em;
}

.txt-center {
  text-align: center;
}
